*~
__pycache__
db.sqlite3
target
logs
*.csv
*.log
*.retry
airflow*
unittests.cfg
.DS_Store
.vscode
.R_History
minikube
*.db
*.txt
oenv
*.ipynb_checkpoints
*.aux
*.bbl
*.out
build
.eggs
*.egg-info
dist/
Pipfile.lock